@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager _navigation
@implements IAsyncDisposable

<PageTitle>ServerBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="profile">
                        <span class="oi oi-home" aria-hidden="true"></span> Profile
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="Identity/Account/Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
            
            Clients: @clientCount
            Notifications:
            <ul id="messagesList">
                @foreach (var message in messages)
                {
                    <li>@message</li>
                }
            </ul>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private List<string> messages = new List<string>();
    private int clientCount { get; set; }
    [Inject] HubConnection _hubConnection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _hubConnection.On<int>("UpdateClientsCount", (count) =>
        {
            clientCount = count;
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
